/* Possible reference:
https://community.nxp.com/t5/i-MX-Processors/GPIO-Wake-up/m-p/1832148#M221532
*/
&gpio3 {
	gpio-line-names = 
		"gpio3-00", "gpio3-01", "gpio3-02", "gpio3-03",
		"gpio3-04", "gpio3-05", "gpio3-06", "gpio3-07",
		"gpio3-08", "gpio3-09", "gpio3-10", "gpio3-11",
		"gpio3-12", "gpio3-13", "gpio3-14", "gpio3-15",
		"gpio3-16", "gpio3-17", "gpio3-18", "gpio3-19",
		"gpio3-20", "gpio3-21", "gpio3-22", "gpio3-23",
		"gpio3-24", "gpio3-25", "gpio3-26", "gpio3-27",
		"gpio3-28", "gpio3-29", "gpio3-30", "gpio3-31";

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-0 = <&pinctrl_wakeup>;
		pinctrl-names = "default";

		wakeup {
			label = "WAKEUP PINS";
			gpios = <&gpio4 2 GPIO_ACTIVE_LOW>,
				<&gpio4 7 GPIO_ACTIVE_LOW>,
				<&gpio4 16 GPIO_ACTIVE_LOW>,
				<&gpio4 21 GPIO_ACTIVE_LOW>;
			linux,code = "KEY_WAKEUP";
			debounce-interval = <10>;
			wakeup-source;
		};
	};
};

&iomuxc {
	pinctrl_wakeup: wakeupgrp {
		// Configured to be pullups, as the signal should be active low
		fsl,pins = <
			MX91_PAD_ENET1_TD3__GPIO4_IO2		0x31e
			MX91_PAD_ENET1_TXC__GPIO4_IO7		0x31e
			MX91_PAD_ENET2_TD3__GPIO4_IO16		0x31e // was 0x51e (a pulldown)
			MX91_PAD_ENET2_TXC__GPIO4_IO21		0x31e // was 0x51e (a pulldown)
		>;
	};
};
