/*
 * Device Tree for the Viridi i.MX93 Board
 *
 * @TYPE: Board Device Tree
 * @NAME: viridi-imx91
 * @SOC: NXP i.MX91
 * @DESCRIPTION:
 *   Board-specific device tree describing the hardware configuration
 *   of the Viridi i.MX91 platform. This file defines SoC integration,
 *   pin multiplexing, peripheral enablement, and board-level resources.
 * @MAINTAINER: Aitor Carrizosa <aitor.carrizosa@futureelectronics.com>
 */

/dts-v1/;

#include <dt-bindings/usb/pd.h>
#include "imx91.dtsi"
#include "viridi-common.dtsi"

&ele_fw2 {
	memory-region = <&ele_reserved>;	//Link firmware region to reserved memory
};

/ {
	model = "NXP i.MX91 11X11 EVK board";
	compatible = "fsl,imx91-11x11-evk", "fsl,imx91";

	chosen {
		stdout-path = &lpuart1;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,cma {											//Contiguous memory for DMA usage
			compatible = "shared-dma-pool";
			reusable;
			alloc-ranges = <0 0x80000000 0 0x40000000>;		//Available region: 1 GB
			size = <0 0x10000000>;							//CMA size = 256 MB
			linux,cma-default;
		};

		ele_reserved: ele-reserved@a4120000 {
			compatible = "shared-dma-pool";			//Memory region reserved for EdgeLock Enclave (ELE)
			reg = <0 0xa4120000 0 0x100000>;
			no-map;									//Prevent normal kernel mapping
		};
	};

	lte {
		compatible = "telit,me910g1";
		status = "okay";
		serial = <&lpuart3>;
		shutdown-gpios = <&pca9555_21 9 GPIO_ACTIVE_LOW>;			//IO_Exp(P1_1) = LTE_ON_OFF_1V8
		reset-gpios = <&pca9555_21 10 GPIO_ACTIVE_LOW>;				//IO_Exp(P1_2) = LTE_nSHTD_1V8
		//gnss-lna-gpios = <&pca9555_21 8 GPIO_ACTIVE_HIGH>;			//Opcional: IO_Exp(P1_0) = GNSS LNA controled by SW
		lte_wake_ready {
			compatible = "nxp,lte_wake_ready";
			interrupt-parent = <&gpio2>;
			interrupts = <12 IRQ_TYPE_LEVEL_LOW>;					//CPU(GPIO2_12) = LTE_SW_RDY_1V8 (Has to be an interruption?)
			interrupt-names = "lte-ready";
		};
	};
};

&mu1 {
	status = "okay";
};

&mu2 {
	status = "okay";
};

&tempsense0 {				//Integrated thermal sensor
	status = "okay";
};

&lpi2c1 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpi2c1>;
	status = "okay";

	/*RTC --> PCF2131TFY*/
	pcf2131: pcf2131@51 {
		compatible = "nxp,pcf2131";
		reg = <0x51>;								//I2C Address (7bit) 0x51 expander --> 0xa3 (8bit)
		status = "okay";
		interrupt-parent = <&gpio3>;
		interrupts = <7 IRQ_TYPE_EDGE_FALLING>;		//GPIO3_IO07 --> CPU
	};

	/*Io Expander --> FXL6408UMX*/
	fxl6408: gpio-expander@44 {
		compatible = "fcs,fxl6408";
		reg = <0x44>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-line-names = "LED1_nEN", "LED2_nEN", "LED3_nEN", "LED4_nEN",
			"CAN1_EOL", "DSP_CTRL_3V3", "NC", "NC";
	};
};

&lpi2c2 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpi2c2>;
	status = "okay";

	/*PMIC --> PCA9451AHNY*/
	pmic@25 {
		compatible = "nxp,pca9451a";
		reg = <0x25>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pmic>;
		interrupt-parent = <&gpio1>;
		interrupts = <10 IRQ_TYPE_EDGE_FALLING>;	//PMIC INT on GPIO1_IO10
		regulators {
			buck1: BUCK1 {
				regulator-name = "BUCK1";
				regulator-min-microvolt = <650000>;
				regulator-max-microvolt = <2237500>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
			};

			buck2: BUCK2 {
				regulator-name = "BUCK2";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <2187500>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <3125>;
			};

			buck4: BUCK4{
				regulator-name = "BUCK4";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck5: BUCK5{
				regulator-name = "BUCK5";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			buck6: BUCK6 {
				regulator-name = "BUCK6";
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <3400000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo1: LDO1 {
				regulator-name = "LDO1";
				regulator-min-microvolt = <1600000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo4: LDO4 {
				regulator-name = "LDO4";
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};

			ldo5: LDO5 {
				regulator-name = "LDO5";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};
};

&lpi2c3 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpi2c3>;
	status = "okay";

	/*Eeprom --> M34E04-FMC9TG*/
	eeprom@54 {
		compatible = "atmel,24c04", "st,m34e04";
		reg = <0x54>;		//I2C Address --> 0xA8 (8 bits) = 0x54 (7 bits)
		pagesize = <16>;
		size = <512>;
	};

	m34e04-protect@60 {
		compatible = "st,m34e04-protect";
		reg = <0x60>;		// Protection --> 0x60 (7 bits)
	};
};

&lpi2c5 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpi2c5>;
	status = "okay";

	/*Io Expander --> PCA9555AHF,128*/
	pca9555_20: gpio@20 {
		compatible = "nxp,pca9555";
		reg = <0x20>;							//I2C Address (7bit) 0x20 expander
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pca9555_20>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-parent = <&gpio1>;
		interrupts = <8 IRQ_TYPE_LEVEL_LOW>;	//Io Expander INT on GPIO1_IO08
		gpio-line-names = "RS485_nRE_1V8", "RSTRAN_nSHDN_1V8","RSTRAN_CTRL_1V8", "RSTRAN_SEL_1V8",
			"RSTRAN_DUP_1V8", "CONA_EN", "CONB_EN", "NC",
			"DIGITAL_IN0", "DIGITAL_IN1","DIGITAL_IN2", "DIGITAL_IN3",
			"OUT0_EN", "OUT1_EN", "OUT2_EN", "OUT3_EN";
	};

	/*Io Expander --> PCA9555AHF,128*/
	pca9555_21: gpio@21 {
		compatible = "nxp,pca9555";
		reg = <0x21>;							//I2C Address (7bit) 0x21 expander
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_pca9555_21>;
		#gpio-cells = <2>;
		gpio-controller;
		interrupt-parent = <&gpio1>;
		interrupts = <9 IRQ_TYPE_LEVEL_LOW>;	//Io Expander INT on GPIO1_IO09
		gpio-line-names = "EXP_IO1", "EXP_IO2",
			"EXP_IO3", "EXP_IO4", "EXP_PWR_EN",
			"WF_nEN_1V8", "WF_nRST_1V8", "BT_nRST_1V8",
			"GNSS_LNA_EN1", "LTE_ON_OFF_1V8",
			"NC", "NC", "NC", "NC", "NC", "NC";
	};
};

&iomuxc {
	pinctrl_lpi2c1: lpi2c1grp {
		fsl,pins = <
			MX91_PAD_I2C1_SCL__LPI2C1_SCL			0x40000b9e
			MX91_PAD_I2C1_SDA__LPI2C1_SDA			0x40000b9e
		>;
	};

	pinctrl_lpi2c2: lpi2c2grp {
		fsl,pins = <
			MX91_PAD_I2C2_SCL__LPI2C2_SCL			0x40000b9e
			MX91_PAD_I2C2_SDA__LPI2C2_SDA			0x40000b9e
		>;
	};

	pinctrl_pmic: pmic1grp {
		fsl,pins = <
			MX91_PAD_PDM_BIT_STREAM1__GPIO1_IO10	0x31e
		>;
	};

	pinctrl_lpi2c3: lpi2c3grp {
		fsl,pins = <
			MX91_PAD_GPIO_IO28__LPI2C3_SDA			0x40000b9e
			MX91_PAD_GPIO_IO29__LPI2C3_SCL			0x40000b9e
		>;
	};

	pinctrl_lpi2c5: lpi2c5grp {
		fsl,pins = <
			MX91_PAD_GPIO_IO22__LPI2C5_SDA			0x40000b9e
			MX91_PAD_GPIO_IO23__LPI2C5_SCL			0x40000b9e
		>;
	};

	pinctrl_pca9555_20: pca9555_20grp {
		fsl,pins = <
			MX91_PAD_PDM_CLK__GPIO1_IO8				0x31e
		>;
	};

	pinctrl_pca9555_21: pca9555_21grp {
		fsl,pins = <
			MX91_PAD_PDM_BIT_STREAM0__GPIO1_IO9		0x31e
		>;
	};

	pinctrl_lpspi4: lpspi4grp {
		fsl,pins = <
			MX91_PAD_GPIO_IO18__LPSPI4_PCS0			0x43	//CS0 (chip select)
			MX91_PAD_GPIO_IO19__LPSPI4_SIN			0x43
			MX91_PAD_GPIO_IO20__LPSPI4_SOUT			0x43
			MX91_PAD_GPIO_IO21__LPSPI4_SCK			0x43
		>;
	};

	pinctrl_flexcan1: flexcan1grp {
		fsl,pins = <
			MX91_PAD_SAI1_TXD0__CAN1_TX				0x139e
			MX91_PAD_SAI1_TXC__CAN1_RX				0x139e
			// MX91_PAD_SAI1_RXD0__GPIO1_IO14			0x139e		//CAN1_STBY
			/* CAN1_EOL moved to FXL6408 GPIO4 - no pinctrl needed */
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX91_PAD_UART1_RXD__LPUART1_RX			0x31e
			MX91_PAD_UART1_TXD__LPUART1_TX			0x31e
		>;
	};

	pinctrl_uart3: uart3_pins {
		fsl,pins = <
			MX91_PAD_GPIO_IO14__LPUART3_TX			0x31e
			MX91_PAD_GPIO_IO15__LPUART3_RX			0x31e
			MX91_PAD_GPIO_IO16__LPUART3_CTS_B		0x31e
			MX91_PAD_GPIO_IO17__LPUART3_RTS_B		0x31e
		>;
	};

	pinctrl_uart5: uart5grp {
		fsl,pins = <
			MX91_PAD_GPIO_IO00__LPUART5_TX		0x31e
			MX91_PAD_GPIO_IO01__LPUART5_RX			0x31e
			MX91_PAD_GPIO_IO03__LPUART5_RTS_B		0x31e
			MX91_PAD_GPIO_IO02__LPUART5_CTS_B		0x31e
		>;
	};

	pinctrl_uart6: uart6grp {
		fsl,pins = <
			MX91_PAD_GPIO_IO04__LPUART6_TX			0x31e
			MX91_PAD_GPIO_IO05__LPUART6_RX			0x31e
			MX91_PAD_GPIO_IO06__LPUART6_CTS_B		0x31e
			MX91_PAD_GPIO_IO07__LPUART6_RTS_B		0x31e
		>;
	};

	pinctrl_uart7: uart7grp {
		fsl,pins = <
			MX91_PAD_GPIO_IO08__LPUART7_TX			0x31e
			MX91_PAD_GPIO_IO09__LPUART7_RX			0x31e
			MX91_PAD_GPIO_IO10__LPUART7_CTS_B		0x31e
			MX91_PAD_GPIO_IO11__LPUART7_RTS_B		0x31e
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			MX91_PAD_SD1_CLK__USDHC1_CLK			0x1582
			MX91_PAD_SD1_CMD__USDHC1_CMD			0x1382
			MX91_PAD_SD1_DATA0__USDHC1_DATA0		0x1382
			MX91_PAD_SD1_DATA1__USDHC1_DATA1		0x1382
			MX91_PAD_SD1_DATA2__USDHC1_DATA2		0x1382
			MX91_PAD_SD1_DATA3__USDHC1_DATA3		0x1382
			MX91_PAD_SD1_DATA4__USDHC1_DATA4		0x1382
			MX91_PAD_SD1_DATA5__USDHC1_DATA5		0x1382
			MX91_PAD_SD1_DATA6__USDHC1_DATA6		0x1382
			MX91_PAD_SD1_DATA7__USDHC1_DATA7		0x1382
			MX91_PAD_SD1_STROBE__USDHC1_STROBE		0x1582
		>;
	};

	pinctrl_usdhc1_100mhz: usdhc1-100mhzgrp {
		fsl,pins = <
			MX91_PAD_SD1_CLK__USDHC1_CLK			0x158e
			MX91_PAD_SD1_CMD__USDHC1_CMD			0x138e
			MX91_PAD_SD1_DATA0__USDHC1_DATA0		0x138e
			MX91_PAD_SD1_DATA1__USDHC1_DATA1		0x138e
			MX91_PAD_SD1_DATA2__USDHC1_DATA2		0x138e
			MX91_PAD_SD1_DATA3__USDHC1_DATA3		0x138e
			MX91_PAD_SD1_DATA4__USDHC1_DATA4		0x138e
			MX91_PAD_SD1_DATA5__USDHC1_DATA5		0x138e
			MX91_PAD_SD1_DATA6__USDHC1_DATA6		0x138e
			MX91_PAD_SD1_DATA7__USDHC1_DATA7		0x138e
			MX91_PAD_SD1_STROBE__USDHC1_STROBE		0x158e
		>;
	};

	pinctrl_usdhc1_200mhz: usdhc1-200mhzgrp {
		fsl,pins = <
			MX91_PAD_SD1_CLK__USDHC1_CLK			0x15fe
			MX91_PAD_SD1_CMD__USDHC1_CMD			0x13fe
			MX91_PAD_SD1_DATA0__USDHC1_DATA0		0x13fe
			MX91_PAD_SD1_DATA1__USDHC1_DATA1		0x13fe
			MX91_PAD_SD1_DATA2__USDHC1_DATA2		0x13fe
			MX91_PAD_SD1_DATA3__USDHC1_DATA3		0x13fe
			MX91_PAD_SD1_DATA4__USDHC1_DATA4		0x13fe
			MX91_PAD_SD1_DATA5__USDHC1_DATA5		0x13fe
			MX91_PAD_SD1_DATA6__USDHC1_DATA6		0x13fe
			MX91_PAD_SD1_DATA7__USDHC1_DATA7		0x13fe
			MX91_PAD_SD1_STROBE__USDHC1_STROBE		0x15fe
		>;
	};

	pinctrl_reg_usdhc2_vmmc: regusdhc2vmmcgrp {
		fsl,pins = <
			MX91_PAD_SD2_RESET_B__GPIO3_IO7			0x31e
		>;
	};

	pinctrl_usdhc2_gpio: usdhc2gpiogrp {
		fsl,pins = <
			MX91_PAD_SD2_CD_B__GPIO3_IO0			0x31e
		>;
	};

	pinctrl_usdhc2_gpio_sleep: usdhc2gpiogrpsleep {
		fsl,pins = <
			MX91_PAD_SD2_CD_B__GPIO3_IO0			0x51e
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			MX91_PAD_SD2_CLK__USDHC2_CLK			0x1582
			MX91_PAD_SD2_CMD__USDHC2_CMD			0x1382
			MX91_PAD_SD2_DATA0__USDHC2_DATA0		0x1382
			MX91_PAD_SD2_DATA1__USDHC2_DATA1		0x1382
			MX91_PAD_SD2_DATA2__USDHC2_DATA2		0x1382
			MX91_PAD_SD2_DATA3__USDHC2_DATA3		0x1382
			MX91_PAD_SD2_VSELECT__USDHC2_VSELECT	0x51e
		>;
	};

	pinctrl_usdhc2_100mhz: usdhc2-100mhzgrp {
		fsl,pins = <
			MX91_PAD_SD2_CLK__USDHC2_CLK			0x158e
			MX91_PAD_SD2_CMD__USDHC2_CMD			0x138e
			MX91_PAD_SD2_DATA0__USDHC2_DATA0		0x138e
			MX91_PAD_SD2_DATA1__USDHC2_DATA1		0x138e
			MX91_PAD_SD2_DATA2__USDHC2_DATA2		0x138e
			MX91_PAD_SD2_DATA3__USDHC2_DATA3		0x138e
			MX91_PAD_SD2_VSELECT__USDHC2_VSELECT	0x51e
		>;
	};

	pinctrl_usdhc2_200mhz: usdhc2-200mhzgrp {
		fsl,pins = <
			MX91_PAD_SD2_CLK__USDHC2_CLK			0x15fe
			MX91_PAD_SD2_CMD__USDHC2_CMD			0x13fe
			MX91_PAD_SD2_DATA0__USDHC2_DATA0		0x13fe
			MX91_PAD_SD2_DATA1__USDHC2_DATA1		0x13fe
			MX91_PAD_SD2_DATA2__USDHC2_DATA2		0x13fe
			MX91_PAD_SD2_DATA3__USDHC2_DATA3		0x13fe
			MX91_PAD_SD2_VSELECT__USDHC2_VSELECT	0x51e
		>;
	};

	pinctrl_usdhc2_sleep: usdhc2grpsleep {
		fsl,pins = <
			MX91_PAD_SD2_CLK__GPIO3_IO1				0x51e
			MX91_PAD_SD2_CMD__GPIO3_IO2				0x51e
			MX91_PAD_SD2_DATA0__GPIO3_IO3			0x51e
			MX91_PAD_SD2_DATA1__GPIO3_IO4			0x51e
			MX91_PAD_SD2_DATA2__GPIO3_IO5			0x51e
			MX91_PAD_SD2_DATA3__GPIO3_IO6			0x51e
			MX91_PAD_SD2_VSELECT__GPIO3_IO19		0x51e
		>;
	};

	pinctrl_usdhc3: usdhc3grp {
		fsl,pins = <
			MX91_PAD_SD3_CLK__USDHC3_CLK			0x1582
			MX91_PAD_SD3_CMD__USDHC3_CMD			0x1382
			MX91_PAD_SD3_DATA0__USDHC3_DATA0		0x1382
			MX91_PAD_SD3_DATA1__USDHC3_DATA1		0x1382
			MX91_PAD_SD3_DATA2__USDHC3_DATA2		0x1382
			MX91_PAD_SD3_DATA3__USDHC3_DATA3		0x1382
		>;
	};

	pinctrl_usdhc3_100mhz: usdhc3-100mhzgrp {
		fsl,pins = <
			MX91_PAD_SD3_CLK__USDHC3_CLK			0x158e
			MX91_PAD_SD3_CMD__USDHC3_CMD			0x138e
			MX91_PAD_SD3_DATA0__USDHC3_DATA0		0x138e
			MX91_PAD_SD3_DATA1__USDHC3_DATA1		0x138e
			MX91_PAD_SD3_DATA2__USDHC3_DATA2		0x138e
			MX91_PAD_SD3_DATA3__USDHC3_DATA3		0x138e
		>;
	};

	pinctrl_usdhc3_200mhz: usdhc3-200mhzgrp {
		fsl,pins = <
			MX91_PAD_SD3_CLK__USDHC3_CLK			0x15fe
			MX91_PAD_SD3_CMD__USDHC3_CMD			0x13fe
			MX91_PAD_SD3_DATA0__USDHC3_DATA0		0x13fe
			MX91_PAD_SD3_DATA1__USDHC3_DATA1		0x13fe
			MX91_PAD_SD3_DATA2__USDHC3_DATA2		0x13fe
			MX91_PAD_SD3_DATA3__USDHC3_DATA3		0x13fe
		>;
	};

	pinctrl_usdhc3_sleep: usdhc3grpsleep {
		fsl,pins = <
			MX91_PAD_SD3_CLK__GPIO3_IO20			0x31e
			MX91_PAD_SD3_CMD__GPIO3_IO21			0x31e
			MX91_PAD_SD3_DATA0__GPIO3_IO22			0x31e
			MX91_PAD_SD3_DATA1__GPIO3_IO23			0x31e
			MX91_PAD_SD3_DATA2__GPIO3_IO24			0x31e
			MX91_PAD_SD3_DATA3__GPIO3_IO25			0x31e
		>;
	};

	pinctrl_wakeup: wakeupgrp {
		fsl,pins = <
			MX91_PAD_ENET1_TD3__GPIO4_IO2			0x31e
			MX91_PAD_ENET1_TXC__GPIO4_IO7			0x31e
			MX91_PAD_ENET2_TD3__GPIO4_IO16			0x31e
		>;
	};
};
