/*
 * Common Device Tree Include for Viridi Platforms
 *
 * @TYPE: Common Device Tree Include
 * @NAME: viridi-common
 * @SOC: NXP i.MX9x Family
 * @DESCRIPTION:
 *   Shared device tree definitions for Viridi platforms based on NXP
 *   i.MX9x SoCs. This include provides common peripherals, GPIO expanders,
 *   regulators, and reusable hardware blocks shared across multiple boards.
 * @MAINTAINER: Aitor Carrizosa <aitor.carrizosa@futureelectronics.com>
 */

/ {
	reg_vref_1v8: regulator-adc-vref {
		compatible = "regulator-fixed";
		regulator-name = "vref_1v8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	reg_usdhc2_vmmc: regulator-usdhc2 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_usdhc2_vmmc>;
		regulator-name = "VSD_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio3 7 GPIO_ACTIVE_HIGH>;
		off-on-delay-us = <12000>;
		enable-active-high;
	};

	reg_wifi_en: regulator-wifi-en {
		compatible = "regulator-fixed";
		regulator-name = "WF_nEN_1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&pca9555_21 5 GPIO_ACTIVE_LOW>;		// IO_Exp(P0_5) = WF_nEN_1V8 (active low)
		regulator-always-on;
		startup-delay-us = <5000>;
	};

	reg_usb2_vbus: regulator-usb2-vbus {
        compatible = "regulator-fixed";
        regulator-name = "VUSB2_VBUS_3V3";
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
        regulator-always-on;
    };

	// reg_bt_nrst: regulator-bt-nrst {
	// 	compatible = "regulator-fixed";
	// 	regulator-name = "BT_nRST_1V8";
	// 	regulator-min-microvolt = <1800000>;
	// 	regulator-max-microvolt = <1800000>;
	// 	gpio = <&pca9555_21 7 GPIO_ACTIVE_LOW>;		// IO_Exp(P0_7) = BT_nRST_1V8 (active low)
	// 	regulator-always-on;
	// 	startup-delay-us = <5000>;
	// };

	usdhc3_pwrseq: usdhc3_pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&pca9555_21 6 GPIO_ACTIVE_LOW>;		// IO_Exp(P0_6) = WF_nRST_1V8 (active low)
		post-power-on-delay-ms = <20>;
	};

	// TODO: assign more descriptive labels and node names instead of wakeupX
	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-0 = <&pinctrl_wakeup>;
		pinctrl-names = "default";
		wakeup1 {
			label = "WAKEUP1";
			gpios = <&gpio4 2 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_WAKEUP>;
			wakeup-source;
		};

		wakeup2 {
			label = "WAKEUP2";
			gpios = <&gpio4 7 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_WAKEUP>;
			wakeup-source;
		};

		// This acts as a wakeup while suspended, and as a suspend when running
		// So it toggles between the two states
		wakeup3 {
			label = "WAKEUP3";
			gpios = <&gpio4 16 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_SUSPEND>;
			wakeup-source;
		};
	};
};

&adc1 {
	vref-supply = <&reg_vref_1v8>;
	status = "okay";
};

&lpuart1 {
	/* Console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

&lpuart3 {
	/* LTE */
	pinctrl-0 = <&pinctrl_uart3>;
	pinctrl-names = "default";
	status = "okay";
};

&lpuart5 {
	/* BT */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	status = "okay";
	fsl,uart-has-rtscts;
	bluetooth {
		compatible = "nxp,88w8987-bt";
		fw-init-baudrate = <3000000>;
		reset-gpios = <&pca9555_21 7 GPIO_ACTIVE_HIGH>;
		// host-wakeup-gpios = <&gpio2 26 GPIO_ACTIVE_HIGH>;
		// device-wakeup-gpios = <&gpio2 24 GPIO_ACTIVE_HIGH>;
	};
};

&lpuart6 {
	/* RS232/RS485 */
	pinctrl-0 = <&pinctrl_uart6>;
	pinctrl-names = "default";
	status = "okay";
	/*RS485*/
	fsl,uart-has-rtscts;
	linux,rs485-enabled-at-boot-time;
	rs485-rts-active-high;
	rs485-rts-delay = <1 1>;
	rs485-rx-during-tx;
};

&lpuart7 {
	/* Connector */
	pinctrl-0 = <&pinctrl_uart7>;
	pinctrl-names = "default";
	status = "okay";
	fsl,uart-has-rtscts;
};

&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	bus-width = <8>;
	fsl,tuning-step = <1>;
	non-removable;
	status = "okay";
};

&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz", "sleep";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>, <&pinctrl_usdhc2_gpio>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>, <&pinctrl_usdhc2_gpio>;
	pinctrl-3 = <&pinctrl_usdhc2_sleep>, <&pinctrl_usdhc2_gpio_sleep>;
	cd-gpios = <&gpio3 00 GPIO_ACTIVE_LOW>;
	fsl,cd-gpio-wakeup-disable;
	vmmc-supply = <&reg_usdhc2_vmmc>;
	bus-width = <4>;
	fsl,tuning-step = <1>;
	status = "okay";
	// no-sdio;
	no-mmc;
};

&usdhc3 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz", "sleep";
	pinctrl-0 = <&pinctrl_usdhc3>;
	pinctrl-1 = <&pinctrl_usdhc3_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc3_200mhz>;
	pinctrl-3 = <&pinctrl_usdhc3_sleep>;
	mmc-pwrseq = <&usdhc3_pwrseq>;
	vqmmc-supply = <&reg_wifi_en>;
	bus-width = <4>;
	non-removable;
	keep-power-in-suspend;
	wakeup-source;
	status = "okay";
	wifi-dev-wake-gpios = <&gpio2 25 GPIO_ACTIVE_HIGH>;		//GPIO2_25 = WF_DEV_WAKE_1V8
	wifi_wake_host {
		compatible = "nxp,wifi-wake-host";
		interrupt-parent = <&gpio2>;
		interrupts = <27 IRQ_TYPE_LEVEL_LOW>;		//GPIO2_27 = WF_WAKE_HOST_1V8
		interrupt-names = "host-wake";
	};
};

&usbotg1 {
	dr_mode = "peripheral";
	hnp-disable;
	srp-disable;
	adp-disable;
	disable-over-current;
	samsung,picophy-pre-emp-curr-control = <3>;
	samsung,picophy-dc-vol-level-adjust = <7>;
	status = "okay";
};

&usbphynop2 {
	vcc-supply = <&reg_usb2_vbus>;
	status = "okay";
};

&usbotg2 {
	dr_mode = "host";
	hnp-disable;
	srp-disable;
	adp-disable;
	disable-over-current;
	vbus-supply = <&reg_usb2_vbus>;
	phys = <&usbphynop2>;
	phy-names = "usb2-phy";
	samsung,picophy-pre-emp-curr-control = <3>;
	samsung,picophy-dc-vol-level-adjust = <7>;
	status = "okay";
};

&lpspi4 {
	fsl,spi-num-chipselects = <1>;
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_lpspi4>;
	cs-gpios = <&gpio2 18 GPIO_ACTIVE_LOW>;
	status = "okay";
	spidev0: spidev@0 {
		reg = <0>;								// CS0
		compatible = "linux,spidev";			// Generic driver for testing
		spi-max-frequency = <1000000>;			// 1 MHz, adjust according to peripheral
	};
};

&flexcan1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	status = "okay";
	standby-gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;	/* CAN1_STBY */
	eol-gpios = <&fxl6408 4 GPIO_ACTIVE_HIGH>;	/* CAN1_EOL */
};

&gpio1 {
	gpio-line-names =
		"gpio1-00", "gpio1-01", "gpio1-02", "gpio1-03",
		"gpio1-04", "gpio1-05", "gpio1-06", "gpio1-07",
		"gpio1-08", "gpio1-09", "gpio1-10", "gpio1-11",
		"gpio1-12", "gpio1-13", "gpio1-14", "gpio1-15",
		"gpio1-16", "gpio1-17", "gpio1-18", "gpio1-19",
		"gpio1-20", "gpio1-21", "gpio1-22", "gpio1-23",
		"gpio1-24", "gpio1-25", "gpio1-26", "gpio1-27",
		"gpio1-28", "gpio1-29", "gpio1-30", "gpio1-31";
};

&gpio2 {
	gpio-line-names =
		"gpio2-00", "gpio2-01", "gpio2-02", "gpio2-03",
		"gpio2-04", "gpio2-05", "gpio2-06", "gpio2-07",
		"gpio2-08", "gpio2-09", "gpio2-10", "gpio2-11",
		"gpio2-12", "WF_nPD_1V8", "gpio2-14", "gpio2-15",
		"gpio2-16", "gpio2-17", "gpio2-18", "gpio2-19",
		"gpio2-20", "gpio2-21", "gpio2-22", "gpio2-23",
		"BT_DEV_WAKE_1V8", "WF_DEV_WAKE_1V8", "BT_WAKE_HOST_1V8", "WF_WAKE_HOST_1V8",
		"gpio2-28", "gpio2-29", "gpio2-30", "gpio2-31";

	wifi_pdn_hog: wifi-pdn-hog {
		gpio-hog;
		gpios = <13 GPIO_ACTIVE_HIGH>;		// GPIO2_13 (PDn=1) = WF_nPD_1V8
		output-high;
		line-name = "WF_nPD_1V8";
	};

	wf_devwake_hog: wf-devwake-hog {
		gpio-hog;
		gpios = <25 GPIO_ACTIVE_HIGH>;		// GPIO2_25 = WF_DEV_WAKE_1V8
		output-high;
		line-name = "WF_DEV_WAKE_1V8";
	};

	bt_devwake_hog: bt-devwake-hog {
		gpio-hog;
		gpios = <24 GPIO_ACTIVE_HIGH>;		// GPIO2_24 = BT_DEV_WAKE_1V8
		output-high;
		line-name = "BT_DEV_WAKE_1V8";
	};
};

&gpio3 {
	gpio-line-names =
		"gpio3-00", "CAN2_EOL", "gpio3-02", "gpio3-03",
		"gpio3-04", "gpio3-05", "gpio3-06", "gpio3-07",
		"gpio3-08", "gpio3-09", "gpio3-10", "gpio3-11",
		"gpio3-12", "gpio3-13", "gpio3-14", "gpio3-15",
		"gpio3-16", "gpio3-17", "gpio3-18", "gpio3-19",
		"gpio3-20", "gpio3-21", "gpio3-22", "gpio3-23",
		"gpio3-24", "gpio3-25", "gpio3-26", "gpio3-27",
		"gpio3-28", "gpio3-29", "gpio3-30", "gpio3-31";
};

&gpio4 {
	gpio-line-names =
		"gpio4-00", "gpio4-01", "gpio4-02", "gpio4-03",
		"gpio4-04", "gpio4-05", "gpio4-06", "gpio4-07",
		"gpio4-08", "gpio4-09", "gpio4-10", "gpio4-11",
		"gpio4-12", "gpio4-13", "gpio4-14", "gpio4-15",
		"gpio4-16", "gpio4-17", "gpio4-18", "gpio4-19",
		"gpio4-20", "gpio4-21", "gpio4-22", "gpio4-23",
		"gpio4-24", "gpio4-25", "gpio4-26", "gpio4-27",
		"gpio4-28", "gpio4-29", "gpio4-30", "gpio4-31";
};

&lpm {						//Low Power Mode
	soc-supply = <&buck1>;
	status = "okay";
};

&wdog3 {					//Watchdog Timer
	status = "okay";
};
